:root {
  --black: #060606;
  --green: #32bc17;
  --cyan: #06f8f0;
  --red: #ea0505;
  --orange: #ef7b45;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
body h1 {
  color: var(--black);
}
body a {
  text-decoration: none;
  color: var(--black);
}
body.fixed {
  position: fixed;
}
body {
  width: 100%;
}

/*-- Header--*/
body header {
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  box-shadow: var(--green);
}
body header .container {
  background-color: var(--red);
  display: flex;
  justify-content: center;
}

body header nav {
  min-height: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6% 20px 6%;
}

body header nav strong {
  font-size: 25px;
}
body main {
  width: 100%;
  overflow: hidden;
  padding-top: 120px;
  transition: all 0.3s;
  filter: blur(0px);
  visibility: visible;
}
body main.blured {
  filter: blur(2px);
}
body main.invisible {
  visibility: hidden;
}
body main .hero {
  margin-bottom: 10vh;
}

.title {
  color: var(--white);
  font-family: "Courier New", Courier, monospace;
}
.title:hover {
  color: var(--red);
}
.links {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.links a {
  color: var(--white);
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.links a:hover {
  color: var(--red);
}

.header-search-input {
  border: 1px solid #d1d1d1;
  width: 30%;
  border-radius: 2px;
  color: #737373;
  font-family: montserrat, Arial, Sans-Serif;
  font-size: 0.8125rem;
  font-weight: 700;
  padding: 0.5rem 0.875rem;
}
.header-search-submit {
  border: 1px solid #d1d1d1;
  border-radius: 0 2px 2px 0;
  font-size: 0.75rem;
  padding: 0.5625rem 0.625rem;
  cursor: pointer;
}
